* {
    margin: 0;
    padding: 0;
}
:root {
    --lh: 70px;
}
body {
    height: 100vh;
    background: #111;
}
ul {
    width: 80vw;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    flex: 1;
    height: var(--lh);
    line-height: var(--lh);
    background: #111;
    text-align: center;
    list-style: none;
    font-family: impact;
    font-size: 1.5em;
    position: relative;
    overflow: hidden;
    border: #fff ridge 3px;
}

ul li a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}
ul li a i {
    padding: 5px;
}
ul li::before {
    content: "";
    background: hsl(var(--hue),15%,50%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    /* essential for slippy transition */
    transition: transform .5s;
    /* mix-blend-mode:hard-light; */
}

ul li:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}