
* {
    margin: 0;
    padding: 0;
}
#overlay {
    transform: scale(0);
    transition: 1s transform;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    position: fixed;
    background: #ccf;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
li {
    position: relative;
    list-style: none;
    text-transform: uppercase;
    font-size: 3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    cursor: pointer;
    text-shadow: 2px 2px 2px#fcc;
    color: #fff;
    -moz-user-select: none; 
    user-select: none;
}
li::before {
    content: "";
    position: absolute;
    top: calc(50% - 3px);
    height: 6px;
    background-color:rgb(157, 201, 164);
    width: 100%;
    display: block;
    z-index: 10;
    transform: scale(0,1);
    transition: 0.7s transform;
    transform-origin: right;
}
li:hover::before {
    transform: scale(1,1);
    transform-origin: left;
}
#btn {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background: rgba(113, 199, 132, 0.699);
    z-index: 1;
    cursor: pointer;
}
#overlay.display {
    transform: scale(1);
}