* {
  margin: 0;
  padding: 0;
}
:root {
  --bg: rgb(39, 24, 180);
}
body {
  height: 100vh;
  background: var(--bg);
}
ul {
  width: 80vw;
  height: 20vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  margin: 10px;
  border-radius: 50%;
  background: transparent;
  width: 70px;
  height: 70px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 35px #fff solid;
  box-sizing: border-box;
  transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
li:hover {
  border: 4px #fff solid;
}
i {
  font-size: 2em;
  color: rgb(255, 255, 255);
  mix-blend-mode: exclusion;
}
/* li:hover i {
  color: #fff;
} */
